@media (max-width: 767px){
	 /* Section 2 */
	 .sec2 .right{
	 	margin-top: 5px;
	 	height: 400px;
	 }
	 .sec2 .btn-primary{
	 	margin-left: 300px;
	 }

	 /* Section 3 */
	.sec3{
		padding-top: 600px;
		height: 1900px;
	}

	/* Section 4 */
	.sec4{
		height: 1200px;
	}
	.sec4 .bottom-img{
		width: 735px;
	}

	/* section 5 */
	
	.sec5 .btn-primary{
		padding-right: 20px;
		margin-left: 300px;
	}
	.sec5 .carousel-inner{
		width: 850px;
		height: 270px;
		padding: 0px;
		margin-left: -60px;
	}
	.sec5 .row .col .card-body{
	padding: 0px 0px;
	width: 150px;
	}
	.sec5 .row .col .card{
		width: 100px;
	}

	/* section 6 */
	.sec6 .top-img{
		width: 735px;
	}
	.sec6 button{
		padding-left: 200px;
	}

	/* section 7 */
	.sec7{
		padding-top: 410px;
		height: 1500px;
	}
	.sec7 .row img{
		padding: 15px 10px;
	}

	/* -- footer -- */
	footer{
		padding-top: 320px;
		height: 1000px;
		
	}
	
}