*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body{
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}
.header_wrapper .navbar-brand img{
	max-width: 100px;
	height: auto;
}
.header_wrapper .navbar-nav li{
	margin-left: 10px;
}
.header_wrapper .navbar-nav li a{
	font-size: 20px;
	color: black;
}
.header_wrapper .navbar-toggler{
	border: 1px solid black;
	color: red;
	line-height: 2;
}

.main-btn{
	display: inline-block;
	padding: 10px 25px;
	color: white;
	background-color: orange;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
}
.header_wrapper .fa-solid{
	margin-left: 50px;
}

section{
	width: 100%;	
}

/* -- section 1 -- */
.sec1{
	padding-top: 150px;
	height: 600;

}
.sec1 .cadre{
	font-size: 16px;
	font-weight: bold;
	background-image: linear-gradient(to right, #1f7f76, #1f7f76, #1f7f60, #1f7f50);
	border: 1px solid #1f7f76;
	box-shadow: 50px;
	background-color: #1f7f76;
	color: white;
	margin: 50px 30px;
	padding: 120px 100px;
}


.cadre button{
	background-color: red;
	padding: 5px 25px;
	margin-left: 55px;
	border: 1px solid red;
	border-radius: 10px;
	margin-top: 70px;
}


/* -- section 2 -- */
.sec2{
	height: 650px;
}
.sec2 .cadre{
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #1f7f76;
	border-radius: 20px;
	background-color: #1f7f76;
	color: white;
	padding: 120px 50px;
	margin-top: 0 auto;
}
.sec2 h1{
	font-size: 30px;
	font-weight: bold;
	padding-top: 50px;
}
.cadre .row img{
	padding: 10px;
}
.sec2 .row .col-lg-5{
	border: 1px solid #1f7f76;
	padding-top: 75px;
	border-radius: 20px;
	
}
.sec2 .row p{
	font-weight: bold;
	font-size: 14px;
	padding: 20px 65px;
}
.sec2 button{
	background-color: red;
	border: 1px solid red;
	padding: 5px 25px;
	margin-left: 220px;
	margin-top: 20px;
}

/* -- section 3 -- */
.sec3{
	height: 400px;
}
.sec3 h1{
	margin-top: 50px;
}
.sec3 .card1 .card-body{
	border: 1px solid #eb5f5f;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}
.sec3 .card2 .card-body{
	border: 1px solid #5bbe8e;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}
.sec3 .card3 .card-body{
	border: 1px solid #ffc744;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}
.sec3 .card4 .card-body{
	border: 1px solid #11c676;
	margin-top: 20px;
	border-radius: 20px;
	color: red;
	padding: 50px 50px;
}

.sec3 .card1 .card-body h5{
	color: #eb5f5f;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
.sec3 .card2 .card-body h5{
	color: #5bbe8e;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
.sec3 .card3 .card-body h5{
	color: #ffc744;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}
.sec3 .card4 .card-body h5{
	color: #11c676;
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}



/* -- section 4 -- */
.sec4{
	background-color: #f44336;
	color: white;
	font-size: 16px;
	height: 900px;
}
.sec4 h1{
	padding-top: 100px;
}
.sec4 .row{
	padding-bottom: 50px;
	margin: 0 auto;
}
.sec4 img{
	background-color: #f44336;
}
.sec4 .row h5{
	height: 50px;
}


/* -- section 5 -- */
.sec5{
	height: 800px;
}
.sec5 h1{
	margin-top: 150px;
}
.sec5 p{
	font-weight: 400;
	margin-bottom: 50px;
}
.sec5 button{
	background-color: red;
	margin-left: 600px;
	margin-bottom: 75px;
	padding: 5px 25px;
	border: 1px solid red;
}
.sec5 .row .col .card-body{
	border: 1px solid #009688;
	padding: 30px 5px;
}
.sec5 .row .col-lg-2 p{
	margin-top: 15px;
}
.carousel-indicators li{
    background: lightgray;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding: 10px 10px;
    margin: 0px 30px;
}

.carousel-indicators{
    bottom: -75px;
}


/* -- section 6 -- */
.sec6{
	margin: 0px;
	background-color: #f44336;
	height: 900px;
	color: white;
}
.sec6 .container-fluid{
	background-color: #f44336;
}
.sec6 img{
	background-color: #f44336;
}
.sec6 .row .col-lg-3 img{
	margin: 30px 0px;
}
.sec6 .row .col-lg-5 img{
	margin: 30px 0px;	
}
.sec6 p{
	font-weight: 400;
	margin-bottom: 75px;
}
.sec6 .row .col-lg-4 p{
	margin-top: 25px;
	font-size: 14px;
}
.sec6 button{
	margin: 0px 100px;
	padding: 5px 20px;
	font-size: 14px;
	background-color: #f44336;
	border: 1px solid #f44336;
}

.sec6 .row .col-lg-12 img{
	background-color: #f44336;
}

/* -- section 7 -- */
.sec7{
	height: 600px;
}
.sec7 h1{
	margin-top: 75px;
}
.sec7 .row img{
	padding: 30px 20px;
}
.sec7 button{
	margin-top: 20px;
	padding: 10px 50px;
	background-color: red;
	border: 1px solid red;
}
.sec7 .row .col-lg-2 , .col-md-6{
	background-color: #f0faf9;
}
.sec7 .row .col-md-6 button{
	margin-bottom: 50px;
}


/* -- footer -- */
footer{
	background-color: #009688;
	height: 400px;
	color: white;
	font-size: 14px;
}
footer .row p{
	margin-top: 25px;
	padding: 0px 10px;
}
footer .row .social .fab{
	padding: 0px 5px;
	color: white;

}
footer .row .col-lg-12 p{
	text-align: right;
	font-size: 12px;
	padding-top: 75px;
}




	

